 <!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="no-sidebar is-preload">

   			<!-- Nav -->
				<%= render partial: 'layouts/navbar'  %>
            <!-- Main -->
              <div class="wrapper style1">
                  <%= yield %>
              </div>
			<!-- footer -->
			<%= render partial: 'layouts/footer'  %>

  </body>
  <%= javascript_include_tag 'application'%>
</html> 
